language: go
go:
  - 1.2
  - 1.3
before_install:
  - sudo pip install codecov
install:
  - go get code.google.com/p/go.tools/cmd/cover
script:
  - go test -v -coverprofile=coverage.txt -covermode=count
after_success:
  - codecov
